## .NET Build
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.cache

## Uploads (photos utilisateurs/médecins)
wwwroot/uploads/

## Secrets
appsettings.Development.json

## Database locale
*.mdf
*.ldf